
<div class="w3-myfont w3-center  container">

<h1 class=" w3-margin w3-myfont">This is a simple App with the functionality to add cars to the system and rent them, for a certain period of time from your account.<h1>
</div>