
<div class="w3-myfont container">


<h2  class="w3-myfont w3-padding">User Sign in</h3>

<form class="w3-container w3-padding w3-margin w3-card-4" action="/users/login" method="POST">
  Username
  <input  class="w3-input"  type="text" name="username" />
  <br />
  Password
  <input  class="w3-input" type="password" name="password" />
  <br />
  <input  class="w3-input" type="submit" value="Login" />
</form>

</div>