
<div class="w3-myfont container">


<h2  class="w3-myfont w3-padding">User Sign up</h3>


<form class="w3-container w3-padding w3-margin w3-card-4" action="/users/register" method="POST">
  Username
  <input class="w3-input" type="text" name="username" />
  <br />
  Password
  <input class="w3-input" type="password" name="password" />
  <br />
  First Name
  <input class="w3-input" type="text" name="firstName" />
  <br />
  Last Name
  <input class="w3-input" type="text" name="lastName" />
  <br />
  <input class="w3-input" type="submit" value="Register" />
</form>

</div>